@tailwind base;
@tailwind components;
@tailwind utilities;

.bgoverlay {
	position: relative;
}

.bgoverlay::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
	z-index: 0; /* Ensure it's below the text but above the image */
}

html {
	scroll-behavior: smooth;
}
